@font-face {
    font-family: 'Digital-7';
    src: url('./fonts/digital-7-font/Digital7-rg1mL.ttf') format('truetype');
    /* Add more src lines for different font formats if you have them */
    font-weight: bold;
    /* font-style: normal;  */
  }
body{
   display: flex;
   justify-content: center;
   font-family: "Digital-7";
   
}
#container{
    background-color: #1d1d1d;
    width:498px;
    height: 705px; 
    border-radius: 25px;
    padding: 35px;
}
#display{
    /* margin: 35px; */
    margin-bottom: 20px;
    height: 80px;
    background-color: #a7af7c;
    border-radius: 12px;
    display :flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 36px;
}
.row{
    display: flex;
    justify-content: space-between;
    /* gap: 26px; */
    margin-bottom: 26px;
}
.btn{
    min-width: 101px;
    min-height: 97px;
    border-radius: 12px;
    color: white;
    background-color: #434343;
    border-top: 3px solid black;
    border-left: 3px solid black;
    transition: border 1s;  /* Add a smooth transition for the border change */ 
    font-family: "Digital-7";
    font-size: 25px;
}
.btn:active {
    border-bottom: 3px solid black ; /* New border style when button is clicked */
    border-right: 3px solid black;
    border-left: none;
    border-top: none;
  }
#clear{
    min-width: 236px;
    height: 101px;
    border-radius: 12px;
    background-color: #de1616;
    color: white;

}
.subRow{
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
}
#equal{
    background-color: #1b7ecc;
}

